{% extends "base.html" %}
{% block content %}
    <h1>Ajouter un contact</h1>
<form action="{{url_for('home')}}" method="post">
    <div class="form-group">
        <label for="contact" class="form-label">Contact</label>
        <input type="tel" class="form-control" name="contact" id="contact" placeholder="00000000" required>
    </div>
    <div class="form-group">
        <label for="inventaire" class="form-label">Inventaire</label>
        <textarea name="inventaire" id="inventaire" class="form-control" rows="3" required></textarea>
    </div>
    <input type="submit" value="Ajouter" class="btn btn-success">
</form>
<br>
<div class="row" style="text-align: center;">
    <div class="col">
<a href="{{ url_for('contacts') }}" class="btn btn-info">Voir tous les contacts</a>
</div>
<div class="col">
<a href="{{ url_for('api_contacts') }}" class="btn btn-info">Voir l'api des contacts</a>
</div>
</div>
{% endblock %}
</body>
</html>